<div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">Tipo Animal</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">Raza</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3">Ganado</a>
        </li>
    </ul>
    <div class="tab-content">
        <TabContenidoComponente Id="tab-1" IsActive="true">
            <p>Aquí puedes incluir información sobre los tipos de animales.</p>
        </TabContenidoComponente>
        <TabContenidoComponente Id="tab-2">
            <p>Aquí puedes incluir información sobre las razas.</p>
        </TabContenidoComponente>
        <TabContenidoComponente Id="tab-3" >
            <p>Aquí puedes incluir información sobre el ganado.</p>
        </TabContenidoComponente>
    </div>
</div>
