@typeparam TModelo
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">@NombreFormulario</p>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <EditForm Model="Modelo" OnValidSubmit="@OnSubmit" FormName="@Guid.NewGuid().ToString()">
                <DataAnnotationsValidator />
                @ContenidoFormulario
            </EditForm>  
            
        </div>
    </div>
    @if (RenderFragmentTieneContenido)
    {
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">@NombreEncabezadoDetalle</p>
        </div>
        <div class="card-body">
            @ContenidoDetalle
        </div>
    }   
</div>