@* @typeparam TComponent
 *@
<div class="card">
    <div class="card-body">
        <CascadingValue Value="@menuTabs">
            <TabsComponente></TabsComponente>
        </CascadingValue>
    </div>
</div>