@code {
    [Parameter] public string Id { get; set; } = default!;
    [Parameter] public string Nombre { get; set; } = default!;
    [Parameter] public bool IsActive { get; set; }
}

<li class="nav-item" role="presentation">
    <a class="nav-link  @(IsActive ? "active" : "")" role="tab" data-bs-toggle="tab" href="#@Id">@Nombre</a>
</li>