<div>
    <ul class="nav nav-tabs" role="tablist">
        @foreach (var tab in MenuTabs)
        {
            <NavTabsItemContenidoComponente Id=@($"tab-{tab.IdTab}") Nombre="@tab.Nombre" IsActive="@tab.Activo" />
        }
    </ul>
    <div class="tab-content">
        @foreach (var tab in MenuTabs)
        {
            <TabContenidoComponente Id=@($"tab-{tab.IdTab}") IsActive="true">
                <ContenidoTab>
                    @ConstruirComponente(@tab.Componente)                    
                </ContenidoTab>
            </TabContenidoComponente>
        }
    </div>
</div>
