<div>
    <ul class="nav nav-tabs" role="tablist">
        <NavTabsItemContenidoComponente Id="tab-1" Nombre="Tipo Animal" IsActive="true" />
        <NavTabsItemContenidoComponente Id="tab-2" Nombre="Raza" />
        <NavTabsItemContenidoComponente Id="tab-3" Nombre="Ganado" />      
    </ul>
    <div class="tab-content">
        <TabContenidoComponente Id="tab-1" IsActive="true">
           <ContenidoTab>
                <TipoAnimalComponente></TipoAnimalComponente>
           </ContenidoTab>          
        </TabContenidoComponente>
        <TabContenidoComponente Id="tab-2">
                 <ContenidoTab>
                <RazaComponent></RazaComponent>
                 </ContenidoTab>        
        </TabContenidoComponente>
        <TabContenidoComponente Id="tab-3" >
            <ContenidoTab>
                <GanadoComponent></GanadoComponent>
            </ContenidoTab>            
        </TabContenidoComponente>
    </div>
</div>
