<select @bind="SeleccionarGanado" class="form-select">
    @if (ListaGanado.Any())
    {
        <option value="0">Seleccionar</option>
        @foreach (var raza in ListaGanado)
        {
            <option value="@raza.IdGanado">@raza.NumerodelchipGanado</option>
        }
    }
    else
    {
        <option value="">Cargando...</option>
    }
</select>